.title {
    text-align: left;
    margin-bottom: 30px;
}

.form div {
    display: flex;
    flex-direction: column;
}

.value {
    color: var(--very-light-pink);
    font-size: var(--med);
    margin: 8px;
}

@media(max-width: 640px) {
    .form-container {
        height: 100%;
    }
    .form {
        height: 100%;
        justify-content: space-between;
    }
}